{% load staticfiles %}

<html>
    <head>
        <title>Lief Spelen</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="page-header">
           <h1><a href="/">Lief Spelen</a></h1>
        </div>
        <div class="menu">
        <div class="row">
         <div class="col-sm-9">
         </div>
         <div class="col-sm-2">
            <a href="/suggestion">Zelf een spel aanmelden</a>
        </div>
         <div class="col-sm-1">
            <a href="/"><span class="glyphicon glyphicon-search"></span></a>
           </div>
        </div>
        </div>
       
       {% block content %}
       {% endblock %}
    </body>
</html>

