{% extends 'liefspelen/base.html' %}

{% block content %}

            <div class="row">
                <div class="col-sm-1">
                <img src="../static/images/spelen.png" style="width:50%" class="img-rounded center-block" alt="Spelletje" />
                </div>
                <div class="col-sm-11"> 
                 <u> {{ game.title }} </u> 
                </div>
            </div>
            
            <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-1">
                        personen: 
                    </div>
                    <div class="col-sm-1">
                          {{game.min_players}} - {{game.max_players}}
                    </div>
                    <div class="col-sm-1">
                         leeftijd: 
                    </div>
                    <div class="col-sm-1">
                          {{game.min_age}} - {{game.max_age}}
                    </div>
                </div> 
                <br>  
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-1">
                        materiaal:  {{ origin }}
                    </div>
                    <div class="col-sm-7">
                        {% for mat in game.materials.all %}
                             {{ mat|lower }} <br>
                        {% endfor %}
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                   
                        {% for step in game.steps_as_list %}
                             <li> {{ step}} </li>
                        {% endfor %}

                    </div>
                </div> 
            </div>
     
{% endblock %}
   
