{% extends 'liefspelen/base.html' %}

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <img src="../static/images/{{ game.image.url }}" style="width:100%" class="img-rounded center-block" alt="Game image" />
                </div>
                <div class="col-sm-11"> 
                    <h2>
                    <u> {{ game.title }} </u>  
                    </h2>
                </div>
            </div>
             <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-1">
                        personen: 
                    </div>
                    <div class="col-sm-1">
                          {{game.min_players}} - {{game.max_players}}
                    </div>
                    <div class="col-sm-1">
                         leeftijd: 
                    </div>
                    <div class="col-sm-1">
                          {{game.min_age}} - {{game.max_age}}
                    </div>
                </div> 
                <br>  
            
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    benodigdheden :  
                <br>
                    {% for mat in game.materials.all %}
                        <li> {{ mat|lower }} </li>
                    {% endfor %}
                </div>     
            </div>
            <br>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                    beschrijving: 
                <br>
                    {% for step in game.steps_as_list %}
                         <li> {{ step }} </li>
                    {% endfor %}
                </div>
            </div> 
        </div>
               
{% endblock %}
   


   
        





