{% extends 'liefspelen/base.html' %}

{% block content %}
    
        <div class="container">    
          <div class="row">
            <div class="col-sm-6">
               <div class="panel-heading"><a href="/buiten">BUITEN</a></div>
               <div class="panel-body"><a href="/buiten"><img src="../static/images/buiten.png" class="img-responsive img-rounded" style="width:100%" alt="Image"></a></div>
            </div>
            <div class="col-sm-6"> 
               <div class="panel-heading"><a href="/binnen">BINNEN</a></div>
               <div class="panel-body"><a href="/binnen"><img src="../static/images/binnen.png" class="img-responsive img-rounded" style="width:100%" alt="Image"></a></div>
            </div>
        </div>

{% endblock %}
   

