{% load staticfiles %}

<html>
    <head>
        <title>Lief Spelen</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="body">
        <div class="header">
            <h1><a href="/">Lief Spelen</a></h1>
            <h2>Wat gaan we doen vandaag?</h2>
        </div>       
        <div class="container">    
          <div class="row">
            <div class="col-sm-6">
               <div class="panel-heading"><a href="/buiten">BUITEN</a></div>
               <div class="panel-body"><a href="/buiten"><img src="../static/images/buiten.png" class="img-responsive img-rounded" style="width:100%" alt="Image"></a></div>
            </div>
            <div class="col-sm-6"> 
               <div class="panel-heading"><a href="/binnen">BINNEN</a></div>
               <div class="panel-body"><a href="/binnen"><img src="../static/images/binnen.png" class="img-responsive img-rounded" style="width:100%" alt="Image"></a></div>
            </div>
        </div>

	</body>
</html>



