 {% load staticfiles %}

<html>
    <head>
        <title>Lief Spelen</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="body">
       <div class="header">
            <h1><a href="/">Lief Spelen</a></h1>
            <h2> {{ location }} </h2>
            <br>
            <h2>Maak een keus uit de volgende suggesties</h2>
            <br>
            <br>
        </div>
 
              
        <div class="container">    
          <div class="row">
            <div class="col-sm-6">
               {% if latest_games_list %}

               <ul >
                  <div class="list">
                	{% for game in latest_games_list %}
                       <li class="glyphicon glyphicon-heart-empty">
                       {% if request.path  == '/koken' %}
                           <a href="{% url 'liefspelen:recipe' game.id %}">{{ game.title }}</a>
                       {% else %}
                           {% if request.path  == '/werkbladen' %} 
                               <a href="{% url 'liefspelen:worksheet' game.id %}">{{ game.title }}</a>
                           {% else %}
                              <a href="{% url 'liefspelen:detail' game.id %}">{{ game.title }}</a>
                           {% endif %}
                       {% endif %}    

                       </li>

                  {% endfor %}
                  </div>
              </ul>
              
              {% else %}
                   <p>Er zijn geen spellen gevonden.</p>
              {% endif %}
              
           </div>
        </div>
    </body>
</html>
