 {% extends 'liefspelen/base.html' %}

{% block content %}

            <h2> {{ location }} </h2>
            <br>
            <h2>Maak een keus uit de volgende suggesties</h2>
            <br>
            <br>
                      
        <div class="container">    
          <div class="row">
            <div class="col-sm-6">
               {% if latest_games_list %}

               <ul >
                  <div class="list">
                  {% for game in latest_games_list %}
                       <li class="glyphicon glyphicon-heart-empty">
                       {% if request.path  == '/koken' %}
                           <a href="{% url 'liefspelen:recipe' game.id %}">{{ game.title }}</a>
                       {% else %}
                           {% if request.path  == '/werkbladen' %} 
                               <a href="{% url 'liefspelen:worksheet' game.id %}">{{ game.title }}</a>
                           {% else %}
                              <a href="{% url 'liefspelen:detail' game.id %}">{{ game.title }}</a>
                           {% endif %}
                       {% endif %}    

                       </li>

                  {% endfor %}
                  </div>
              </ul>
              
              {% else %}
                   <p>Er zijn geen spellen gevonden.</p>
              {% endif %}
              
           </div>
        </div>
        
{% endblock %}
   


